a{
  color: #588b8b
}
footer a img{
  padding: 5px;
}
header{
  top:0;
  background-color: white;
  padding: 10px;
  background-image: url(./images/kevin-doran-OtdNWHGRvfI-unsplash.jpg);
  background-size: cover;
}
button{
  background-color: #588b8b;
  border-style: none;
  padding:10px;
}
button:hover{
background-color: #588b8bd7;
}
.choice-button{
  margin-top: 20px;
}
.city-options button:hover {
  background-color: #588b8bd7;
}
#generate-rest{
  background-color: #588b8b;
}
#generate-rest:hover{
  background-color: #588b8bd7;
}
#find{
  margin:20px;
  font-size: 18px;
}
input{
  justify-content: inherit;
  font-size: 15px;
  padding: 5px;
}
input[type=text] {
  text-align: center;
  font-family: 'Kanit';
  font-size: 12px;
  border: 5px solid #ffd5c2;
  border-radius: 4px;
}
input.search[type=text] {
  border: 5px solid #588b8b;
  border-radius: 4px;
}

h1{
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Luckiest Guy', cursive;;
}
body{
  background-color: #ffd5c2;
  margin:0 auto;
}
span{
  align-content: left;
  top: 0;
  left: 0;
  z-index: 1;
  font-size:25px;
  cursor:pointer;
  font-family: 'Poiret One', cursive;
}
#footer{
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
  padding: 5px 10px ;
  background-color: #f28f3B ;
  margin-top: 100%;
  transition: margin-left .5s;
  }
.search-bar{
  content: center;
  text-align: center;
}
.city-options{
  text-align: center;
  padding: 5px;
}
.search-results{
  flex-flow: column;
  flex: 50%;
  list-style: none;
  align-content: left;
  color:white;
  padding: 15px;
  margin: 10px;
  font-family: 'Kanit', sans-serif;
}
.restData{
padding: 20px;
}
#main {
  margin-left: 20%;
  transition: margin-left .5s;
}
.container{
  display: flex;
}
.container h2{
  font-size: 25px;
  border-bottom: 2px solid black;
}
#sideBar {
  height: 100%;
  width: 20%; 
  position: fixed; 
  top: 0; 
  left: 0;
  background-image: url(./images/diane-alkier-yRUot5SCD28-unsplash.jpg);
  background-size: cover;
  color:black;
  overflow-x: hidden; 
  padding-top: 20px; 
  transition: 0.5s; 
  font-family: 'Poiret One';
  align-self:flex-start;
  text-align: center;
}
#sideBar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
}
.openbtn{
  color:white;
}
.openbtnSmall{
  visibility: hidden;
  top: 0;
  color:white;
  margin-left: 0;
  left:0;
  font-size: 15px;
}
.closebtnSmall{
  top: 0;
  margin-left: 0;
  left:0;
  font-size: 15px;
  visibility: hidden;
}
.generator{
  font-family: 'Poiret One';
  align-self:flex-start;
  text-align: center;
  flex:40%;
  margin: 0px;
  padding:5px;
  font-size: 20px;
}
.input-list{
  margin-bottom: 15px;
}
.user-list{
  margin-bottom: 30%;
  background-color:   rgba(255, 255, 255, 0.76);
}
.user-list label{
  font-family: 'Poiret One';
  margin-bottom: 20px;
  font-size: 25px;
}
.generator{
  font-family: 'Poiret One';
  margin-bottom: 20px;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.76);
}

.search-results label{
  color:#ffd5c2;
}
.search-results h2{
  color:black;
  text-align: left;
}
.search-results div{
margin-bottom: 10px;
background-color: #f28f3B ;
text-align: left;
padding:5px;
}

@media screen and (max-width: 700px){
  h1{
    font-size: 30px;
    background-size: cover;
  }
  h2{
    font-size: 18px;
  }
  span{
    font-size: 12px;
  }
  input{
    justify-content: inherit;
    font-size: 12px;
  }
 
.container{
  display: flex;
  flex-flow: column;
}
#add{
  font-size: 12px;
  padding:10px;
}
#find{
  margin:20px;
  font-size: 12px;
}
#main {
  margin-left: 0%;
}
#sideBar{
  height: 100%;
  width: 0%; 
  padding-top: 20px; 
  justify-content: space-around;
  text-align: center;
  margin: 0px;
}
#sideBar h2{
  font-size: 18px;
}
#sideBar .closebtn {
  top: 0;
  right: 10px;
  font-size: 20px;
  margin-left: 25px;
  font-size: 12px;
}
.user-list{
  margin-bottom: 30%;
  padding: 5px;
}

.user-list label{
  margin-bottom: 10px;
  font-size: 12px;
}
.generated{
  margin-bottom: 10px;
  font-size: 12px;
  background-color:   rgba(255, 255, 255, 0.76);
}
#sideBar .closebtn {
  visibility: hidden;
 }
 .openbtn{
   display:none;
   visibility: hidden;
 }
 .openbtnSmall{
   color:white;
   visibility: visible;
   margin-left:0;
 }
 .closebtnSmall{
   visibility: visible;
 }
}



  