header{
  padding: 15px;
  margin:10px;
  background-color: white;
}

h1{
  color:#588b8b;
  text-align: center;
}
body{
  background-color: #ffd5c2;
  justify-content: center;
  text-align: center;
}
footer{
  position: fixed;
  bottom: 0;
  background-color: white;
}
.search-bar{
  content: center;

}
.search-results{
  flex-flow: column;
  flex: 60%;
  list-style: none;
  align-content: center;
  color:white;
  padding: 15px;
  margin: 10px;
  
}
button{
  background-color: #588b8b;
  border-style: none;
  padding:10px;
}
.choice-button{
  margin-top: 20px;
}
#sideBar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
}
span{
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  font-size:30px;
  cursor:pointer;
}
#sideBar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
a{
  color: #588b8b
}
.container{
  display: flex;
}
.user-list, .generator{
  align-self:flex-start;
  flex:40%;
  border: 2px solid black;
  margin: 5px;
  padding:5px;
  font-size: 15px;
}
.search-results h3{
  color:black;
  text-align: left;

}
.search-results div{
border: 2px solid black;
margin: 10px;
background-color: #f28f3B ;
}
@media screen and (max-width: 400px){

.container{
  display: flex;
  flex-flow: column wrap;
  background-color: cornsilk;
}

}