header{
  background-color: white;
  padding: 10px;
}

h1{
  color:#588b8b;
  text-align: center;
  font-size: 50px;
}
body{
  background-color: #ffd5c2;
}
footer{
  bottom: 0;
  background-color: white;
}
.search-bar{
  content: center;
  text-align: center;

}
.search-results{
  flex-flow: column;
  flex: 60%;
  list-style: none;
  align-content: left;
  color:white;
  padding: 15px;
  margin: 10px;
  
}
button{
  background-color: #588b8b;
  border-style: none;
  padding:10px;
}
.choice-button{
  margin-top: 20px;
}
#sideBar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 20px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
}
span{
  align-content: left;
  top: 0;
  left: 0;
  z-index: 1;
  font-size:25px;
  cursor:pointer;
}
#sideBar {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: black;
  color: white;
  overflow-x: hidden; 
  padding-top: 40px; 
  transition: 0.5s; 
}
  a{
  color: #588b8b
}
.container{
  display: flex;
}
.user-list, .generator{
  align-self:flex-start;
  flex:40%;
  border: 2px solid black;
  margin: 5px;
  padding:5px;
  font-size: 15px;
}
.search-results label{
  color:#ffd5c2;
}
.search-results h2{
  color:black;
  text-align: left;
}
.search-results div{
margin-bottom: 10px;
background-color: #f28f3B ;
text-align: left;
padding:5px;
}
.rating{
  text-align: right;
  top:0;
}

@media screen and (max-width: 400px){

.container{
  display: flex;
  flex-flow: column wrap;
  background-color: cornsilk;
}

}